@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html { scroll-behavior: smooth; }

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2 {
    color: #fff;
    font-size: 15vh;
    letter-spacing: 2px;
}
#home { background: #ff7a00; }
#services { background: #67ffe7; }
#gallery { background: #ffa855; }
#contact { background: #00ffa7; }

.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: #414141;
}
.nav__item {
    position: relative;
}
.nav__item:not(:last-child) {
    margin-bottom: 20px;
}
.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.nav__link i {
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #414141;
    transition: all 0.3s;
}
.nav__link .title {
    position: absolute;
    background: #414141;
    height: 100%;
    padding-right: 65px;
    padding-left: 20px;
    line-height: 70px;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
}
.nav__item:hover i {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.nav__item:hover .title {
    transform: translateX(0);
}