*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slider{
    appearance: none;
    outline: none;
    border-radius: 50px;
    width: 350px;
    height: 25px;
    background: #303030;
    transition: all .4s;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    height: 30px;
    width: 25px;
    background: #f77103;
    border-radius: 2px;
}
#op{
    
    margin: 50px 0 0 0;
    font-size: 2.5rem;
}